<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>"TextTalk"-Blog-App</title>
  </head>
  <body>
    <!-- nav -->
    <%-include("partials/navbar.ejs") %>

    <!-- header -->
    <header>
      <div class="header-content">
        <h1>Your Words, Our Stories</h1>
        <p>
          We cherish the unique voices that shape our vibrant community. Share your tales, insights, and experiences, and together, we'll create a tapestry of knowledge and inspiration.
        </p>
          <% if(userAuth) { %>
            <a href="/api/v1/posts/get-post-form"> 
              <span>Create New Post</span> 
            </a>
          <% } %>
      </div>
    </header>
    <!-- Latest post title -->

    <div class="latest-post-title">
      <!-- Icon -->
      <div class="icon">
        <i class="fa fa-book"></i>
      </div>
      <h1>Latest Posts (<%=posts?.length %>)</h1>
      <p>
        Discover, learn, and grow with us every day.
      </p>
    </div>

    <!-- content -->
    <section class="container-flex">
      <% if(posts.length <= 0) { %>
        <h1>No post found</h1>
      <%} else { %>
        <%posts.forEach((post) => { %>
        <article class="post-content">
      
          <img src="<%=post?.image%>" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <!-- I will create a route for user info(userDetailsCtrl) -->
              <a href="#"><i class="fa fa-user"></i></a>
              <a href="#"><%=post?.user?.fullname %></a>
            </span>
            <span class="post-date">
              <i class="fa fa-calendar-alt"></i>
              <time datetime="2020-01-01"><%= new Date(post.createdAt).toDateString() %></time>
            </span>
          </p><h1 class="post-title"><%=post?.title %></h1>
          <p class="post-body"> <%=truncatePost(post?.description)%> </p>
          <!-- category -->
          <div class="post-category">
            <span><%=post?.category %>:</span>
          </div>
          <a href="/api/v1/posts/<%=post?._id%>" class="post-read-more">Continue Reading...</a>
        </article>
        <%}) %>
      <%} %>
    </section>
    <!-- footer -->
    <%-include("partials/footer.ejs") %>

  </body>
</html>
