<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <title>User Info</title>
  </head>
  <body>
    <!-- nav -->
    <%- include("../partials/navbar.ejs") %>

    <div class="profile-container">
      <header style="background-image: url(<%= user.coverImage %>)">
        <div class="icons-container">
          <p>Contact info</p>
        </div>
      </header>

      <!-- profile image -->
      <div class="profile-img">
        <img src="<%= user.profileImage %>" alt="profile image" />
      </div>

      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fa fa-user"></i>
            <p>Name: <%= user.fullname %></p>
          </div>
          <div class="details">
            <i class="fa fa-envelope"></i>
            <p>Email: <%= user.email %></p>
          </div>
          <div class="details">
            <i class="fa fa-calendar"></i>
            <p>Since: <%= new Date(user.createdAt).toDateString() %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fa fa-book-open"></i>
      <h1>Total Posts (<%= user.posts.length %>)</h1>
    </div>

    <!-- content -->
    <section class="container-flex">
      <% user.posts.forEach((post) => { %>
        <article class="post-content">
          <img src="<%= post.image %>" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-date">
              <i class="fa fa-calendar-alt"></i>
              <time datetime="2020-01-01"><%= new Date(post.createdAt).toDateString() %></time>
            </span>
          </p>
          <h1 class="post-title"><%= post.title %></h1>
          <p class="post-body"><%= post.description %></p>
          <!-- category -->
          <div class="post-category">
            <span><%= post.category %></span>
          </div>
          <a href="/api/v1/posts/<%=post?._id%>" class="post-read-more">Continue Reading...</a>
        </article>
      <% }) %>
    </section>

    <!-- footer -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
