<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
  <link rel="stylesheet" href="/css/postDetails.css" />
  <title>Post Details</title>
</head>
<body>
  <!-- nav -->
  <%-include("../partials/navbar.ejs") %>
  <!-- content -->
  <section class="container-flex">
    <!-- main -->
    <main class="post-details">
      <article class="post-details-content">
        <img src="<%= post?.image %>" alt="" class="" />

        <!-- post delete and edit -->
        <% if (userAuth && post?.user?._id.toString() === userAuth._id.toString()) { %>
          <div class="post-details-action">
            <a href="/api/v1/posts/get-update-form/<%= post?._id %>">
              <i class="fa fa-edit"></i>
            </a>
            <form action="/api/v1/posts/<%= post?._id %>?_method=DELETE" method="POST">
              <button><i class="fa fa-trash"></i></button>
            </form>
          </div>
        <% } %>
      
        <h1 class="post-title"><%= post?.title %></h1>
        <p class="post-body"><%= post?.description %></p>
      </article>

      <% if (userAuth) { %>
        <!-- Comment form -->
        <div class="comment-form">
          <h2>Leave a comment</h2>
          <form action="/api/v1/comments/<%= post?._id %>" method="POST">
            <div class="form-group">
              <input type="text" name="message" id="name" />
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      <% } %>

      <!-- comments -->
      <div class="comments">
        <h2>Comments</h2>
        <% post?.comment?.forEach(comment => { %>
          <div class="comment">
            <div class="comment-info">
              <img src="<%= comment?.user?.profileImage %>" alt="" class="comment-author-image" />
              <div class="comment-author">
                <h4><%= comment?.user?.fullname %></h4>
                <span><%= new Date(comment.createdAt).toDateString() %></span>
              </div>
            </div>
            <div class="comment-body">
              <p><%= comment.message %></p>
              
              <!-- comment delete/update icon -->
              <% if (userAuth && comment?.user?._id.toString() === userAuth._id.toString()) { %>
                <div class="post-details-action">
                  <a href="/api/v1/comments/<%= comment?._id %>">
                    <i class="fa fa-edit"></i>
                  </a>
                  <form action="/api/v1/comments/<%= comment?._id %>?_method=DELETE&postId=<%= post?._id %>" method="POST">
                    <button><i class="fa fa-trash"></i></button>
                  </form>
                </div>
              <% } %> 
            </div>
          </div>
        <% }) %>
      </div>
    </main>
  </section>
  <!-- footer -->
  <%-include("../partials/footer.ejs") %>
</body>
</html>
